/*  your css code here. If applicable */
 body {
            background-color: rgb(46, 204, 113);
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .book-library {
            background-color: #ffffff;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .book {
            width: 200px;
            margin: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 10px;
        }

        .book img {
            max-width: 100%;
            height: auto;
        }

        h1 {
            font-weight: bold;
            margin-top: 10px;
        }

        h2 {
            color: #777777;
        }

        .price-block {
			color: rgb(255, 255, 255);
            background-color: #2ecc71;
            font-weight: bold;
            margin-top: 10px;
        }